<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasker_FastAPI</title>

        <!-- CSS styling sheets-->
        <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,0,200&icon_names=add_task" />
        <!------------------------>

        <script src="{{ url_for('static', path='/js/script.js') }}" defer></script><!--JS file for front-end interactions-->
        <script src="https://kit.fontawesome.com/c2b94256b5.js" crossorigin="anonymous"></script><!-- FontAwesome icons -->
    </head>

    <body>
        <nav class="nav_bar">
            <ul class="nav_links">
                <li><a href="#header">Title</a></li>
                <li><a href="#To-Do_List_Section">To-Do List</a></li>
                <li><a href="#Completed_List_Section">Completed List</a></li>
            </ul>
            <div class="hamburger">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </nav><br>

        <header id="header">
            <h1>Welcome to <span>Tasker</span></h1>
            <h4>A place for all your <span>To-Dos</span>.</h4>
        </header><br>

        <main>
            <div id="container">
                <h2><i class="fa-solid fa-list-check"></i> Your Lists</h2><br>
                <div id="lists_container"><!--Container of all the lists-->

                    <div class="list_section" id="To-Do_List_Section"><!--section has just the to-do list-->
                        <h3>Your <span>To-Dos</span></h3>
                        <ol id="To-Dos_List"></ol><!-- the To-Do list-->
                        <button id="NewTaskBtn" class="btn btn-primary">
                            <span class="material-symbols-outlined">
                            add_task
                            </span> Add a <span>To-Do</span>
                        </button><br>
                    </div>

                    <div class="list_section" id="Completed_List_Section"><!--section has just the completed list-->
                        <h3>Your <span>Completed To-Dos</span></h3>
                        <ol id="Completed_List">Your completed To-Dos will show up here!</ol><br>
                    </div>
                <br>
                </div>
                <button id="LogoutBtn">
                    Logout!
                </button><br>

                <a href="#header" id="jump_top">Click here to jump to the top!</a>
            </div>
        </main>
    </body>
</html>